<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add_user" class="border-shadow">
                    <span class="text-gradient"> New Employees <i class="fa-regular fa-user"></i></span>
                </a>
            </div>
            <div class="box-nav d-flex top justify-between">
                <a href="/recherche" class="border-shadow">
                    <span class="text-gradient"> Search <i class="fa-solid fa-magnifying-glass"></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table" id="example">
                    <thead class="thead-dark">
                        <tr>
                            <th>Number</th>
                            <th>_id</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Anciennete</th>
                            <th>Adresse</th>
                            <th>Telephone</th>
                            <th>Prime</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < employes.length; i++){ %>
                            <tr>
                                <td>
                                    <%= i+1 %>
                                </td>
                                <td>
                                    <%= employes[i]._id %>
                                </td>
                                <td>
                                    <%= employes[i].nom %>
                                </td>
                                <td>
                                    <%= employes[i].prenom %>
                                </td>
                                <td>
                                    <%= employes[i].anciennete %>
                                </td>
                                <td>
                                    <%= employes[i].adresse.numero %>
                                        <%= employes[i].adresse.ville %>
                                            <%= employes[i].adresse.codepostal %>
                                </td>

                                <td>
                                    <%= employes[i].tel %>
                                </td>
                                <td>
                                    <%= employes[i].prime %>
                                </td>
                                <td>
                                    <a href="/update_user?id=<%= employes[i]._id %>" class="btn border-shadow update">
                                        <span class="text-gradient"><i class="fa-regular fa-pen-to-square"></i></span>
                                    </a>
                                    <a class="btn border-shadow delete" data-id="<%= employes[i]._id %>">
                                        <span class="text-gradient"><i class="fa-solid fa-trash"></i></span>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </form>
            <!-- /form handling -->
        </div>
    </main>
    <!-- /Main Site -->

    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->